@charset "UTF-8";
@import url(../css/fonts.css);
html,
body {
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --text-gray: #3f4954;
    /*theme font-family*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}
.container-info {
    background-color: rgb(188, 211, 253);
}
.information{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.information h2{
    font-size: 40px;
    text-align: center;
}
.information-heading{
    font-size: 30px ;
    text-align: center;
    color: chocolate;
    font-family:var(--Lexend);
}
.disease-img{
    padding-top: 20px;
    text-align: center;
}
.disease-img img{
    width: 200px;
    height: 200px;
    padding-left: 50px;
}

.information .about-text{
    color: #3f4954;
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
    font-family:var(--Josefin)
}